data_from_fred/*
!data_from_fred/.gitkeep
4channel_project/dataset/**
4channel_project/dataset_3ch/**

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
drone_detect/

# Training outputs
runs/

# Editor & tool settings
.vscode/
.claude/
FRED/**

/yolo*
.presentation_assets/
